<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/public/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      :root {
        --font-family: sans-serif;

        --color-primary: hsl(190, 97%, 38%);
        --color-primary-focus: hsl(190, 97%, 30%);
        --color-link: hsl(210, 66%, 52%);
        --color-link-focus: hsl(210, 66%, 47%);
        --color-background: hsl(0, 0%, 10%);
        --color-background-pre: hsl(0, 0%, 15%);
        --color-gray-1: hsl(0, 0%, 85%);
      }
      @media (prefers-color-scheme: light) {
        :root {
          --color-primary: hsl(190, 97%, 30%);
          --color-primary-focus: hsl(190, 97%, 38%);
          --color-link: hsl(210, 66%, 47%);
          --color-link-focus: hsl(210, 66%, 52%);
          --color-background: hsl(0, 0%, 100%);
          --color-background-pre: hsl(0, 0%, 95%);
          --color-gray-1: hsl(0, 0%, 15%);
        }
      }

      body {
        margin: 0 auto;
        background-color: var(--color-background);
        font-family: var(--font-family);
        font-size: 1.1rem;
        color: var(--color-gray-1);
        line-height: 1.4;
        max-width: 62.5rem;
      }
      a {
        text-decoration: none;
        color: var(--color-link);
      }
      a:focus,
      a:hover {
        color: var(--color-link-focus);
      }
      a:visited {
        color: var(--color-primary);
      }
      a:visited:hover {
        color: var(--color-primary-focus);
      }
      img {
        max-width: 100%;
      }
      footer {
        margin-top: 2rem;
      }
      pre {
        padding: 0.5rem;
        background-color: var(--color-background-pre);
      }
    </style>
    <title>{{ title }}</title>
  </head>
  <body>
  <main>
    {{ content | safe }}
  </main>
  <footer>
    <div>
      <a href="/">Home</a>
      / <a href="/me">Me</a>
    </div>
  </footer>
  </body>
</html>
