---
layout: layouts/base.njk
templateClass: tmpl-home
---

<div class="wrapper home">
  <div class="content">
    {{ content | safe }} {%- for section_name, subsection in
    collections.sections -%}
    <div>
      <h2>{{ section_name }}</h2>
      {%- for subsection_name, articles in subsection -%}
      <div>
        <h4>{{ subsection_name }}</h4>
        <ul>
          {%- for item in articles -%}
          <li><a href="{{ item.url }}">{{ item.data.article }}</a></li>
          {%- endfor -%}
        </ul>
      </div>
      {%- endfor -%}
    </div>
    {%- endfor -%}

    <ul style="list-style: none; padding: 0; margin: 0">
      {%- for post in collections.posts -%}
      <li>
        {{ post.data.page.date | htmlDateString }}
        <a href="{{ post.url }}">{{ post.data.title }}</a>
      </li>
      {%- endfor -%}
    </ul>
  </div>
</div>
</div>
