---
layout: layouts/base.njk
templateClass: tmpl-home
permalink: "/{{page.fileSlug}}/"
---

<div>
  <h2>{{title}}</h2>
  {{ content | safe }}

  {% if chiptune %}
    <p>
      <a href="https://chiptune.app/?play={{ chiptune }}">[original audio]</a>
    </p>
  {% endif %}

  {% if youtube %}
    <p>
      <a href="https://www.youtube.com/watch?v={{ youtube }}">[original audio]</a>
    </p>
  {% endif %}

  {% if opus %}
    <p>
      rendered audio:
      <div><audio controls src="/public/opus/{{ opus }}.opus"></div>
    </p>
  {% endif %}

  {% if lilypond %}
    <div>
      <a href="https://maddyblue.github.io/lilypond/{{ lilypond }}.pdf">[pdf]</a>
      <a href="https://github.com/madelynnblue/lilypond/blob/main/{{ lilypond }}.ly">[lilypond source]</a>
    </div>
    <embed src="https://maddyblue.github.io/lilypond/{{ lilypond }}.pdf" width="100%" height="680" type="application/pdf">
  {% endif %}
</div>
